/* 
font-family: 'Lobster', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Yeseva One', cursive; 
*/

/* :default css  */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
  height: 100%;
}
.pad-10 {
  padding: 0% 10%;
}
.half-width {
  width: 50%;
}
.btn {
  text-decoration: none;
  text-transform: capitalize;
  display: inline-block;
  background-color: #0B1A31;
  padding: 10px 30px;
  border-radius: 5px;
  font-size: 14px;
  color: #fff;
}
span {
  color: #F2138B;
}
.content-desc {
  font-size: 18px;
  line-height: 28px;
  color: #333333;
  margin: 20px 0;
}
.default-text {
  font-size: 16px;
  color: #333333;
  font-weight: 400;
}
.section-title {
  text-align: center;
  font-size: 48px;
  line-height: 70px;
  color: #333333;
  margin-bottom: 50px;
}
.card-title {
  text-transform: uppercase;
  font-size: 24px;
  margin: 15px 0;
  color: #333333;
}

.single-card {
  max-width: 27%;
  margin: 0 20px;
  padding: 15px;
  border-radius: 10px;
}
.banner-area {
  width: 40%;
}
.banner-image {
  width: 380px;
  height: 380px;
}
.content-area {
  width: 60%;
  padding: 25px 50px;
}
.content-title {
  font-size: 36px;
  color: #333333;
}

/* header section css  */

.header-section-start {
  display: flex;
  padding: 0 4%;
}
.header-section-start .header-left {
  padding: 5%;
  box-sizing: border-box;
}

.header-section-start .header-left .header-title {
  font-size: 60px;
  line-height: 80px;
  font-family: "Yeseva One", cursive;
  color: #0C1B32;
  border-left: 5px solid #ff5959;
  padding: 0 0 0 15px;
}

.header-section-start .header-left .default-text {
  margin-top: 30px;
}
.header-section-start .header-right .header-image {
  width: 546px;
  height: 540px;
}

/* second section css start  */

.second-section-start .card-area {
  display: flex;
}
.second-section-start .single-card .card-img {
  width: 120px;
  height: 120px;
}
.card-one {
  background-color: #a45eea75;
}
.card-two {
  background-color: #45aaf27c;
}
.card-three {
  background-color: #f8a5c286;
}
/* third section start  */

.third-section-start {
  display: flex;
  padding: 10% 10%;
}

/* forth section css start */

.forth-section-start {
  display: flex;
}

/* fifth section css start  */
.fifth-section-start {
  margin-top: 70px;
}

.fifth-section-start .content-body {
  display: flex;
}
.fifth-section-start .banner-image {
  width: 60%;
  height: 90%;
  margin: 0 auto;
}
.fifth-section-start .content-area {
  margin-top: 60px;
  padding-right: 7%;
  box-sizing: border-box;
}

/* footer section css start  */

footer {
  text-align: center;
  background-color: #0B1A31;
  padding: 1%;
}
footer .footer-title {
  font-size: 36px;
  line-height: 44px;
  font-family: "Lobster", cursive;
  color: #fff;
  margin: 20px 0;
  letter-spacing: 0.5px;
}
footer .footer-title span {
  color: #ff5959;
}
footer .copyright-text {
  color: #fff;
  letter-spacing: 0.5px;
}
/* footer css end heare  */
